// Color Palette
$green: #00E676
$dark-grey: #263238
$grey: #607D8B

// Common Values
$xxs: .2rem
$xs: .4rem
$s: .8rem
$m: 1.6rem
$l: 2.4rem
$xl: 3.2rem

// Transitions
$swift: cubic-bezier(0.4, 0, 0.2, 1)
$swift-bounce: cubic-bezier(0.4, 0, 0.2, 1.3)
