doctype html
html(lang='en')
  head
    title Skylor Stewart
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible' content='ie=edge')
    meta(name='viewport' content='width=device-width, initial-scale=1')
    meta(name='theme-color' content='#00897b')
    script.
      let host = 'stewask.github.io';
      if ((host === window.location.host) && (window.location.protocol !== 'https:')) window.location.protocol = 'https';
  body
    main
      section
        h1 Skylor Stewart
        div.skylor
        p Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
        | Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
        | when an unknown printer took a galley of type and scrambled it to make a type specimen book.
      section.about
        div.edu
          h3 University of Cincinnati
          h5 Electrical Engineering Technology
          p Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
          | Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
        div.work
          h3 Balluff Inc
          h5 Technical Displays Co-op
          p Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
          | Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
          | when an unknown printer took a galley of type and scrambled it to make a type specimen book.
        
